* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.continer {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
/* Small */
@media (min-width: 768px) {
  .continer {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .continer {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .continer {
    width: 1170px;
  }
}
/* container */
/* end global rules */
/* special-heading */
.special-heading {
  letter-spacing: -4px;
  color: var(--color-special-heading);
  font-size: 100px;
  text-align: center;
  margin: 0;
}
.special-heading + p {
  color: #797979;
  text-align: center;
  margin-top: 0;
  font-size: 21px;
  transform: translate(10px, -35px);
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    font-size: 13px;
    transform: translate(10px, -25px);
  }
}
/* start variables */

:root {
  --main-color: #10cab7;
  --secondry-color: #2c4755;
  --section-padding: 60px 0;
  --section-background: #f6f6f6;
  --color-special-heading: #ebeced;
}
/* end variables */
/* header */
header {
  padding: 20px;
}
header .logo {
  width: 60px;
}
header .continer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .links {
  position: relative;
  z-index: 1;
}

header .links:hover .icon :nth-child(2) {
  width: 100%;
}

header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}

header .links .icon :first-child {
  width: 100%;
}

header .links .icon :nth-child(2) {
  width: 70%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .links .icon :last-child {
  width: 100%;
}

header .links ul {
  list-style: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  min-width: 200px;
  background: #eee;
  top: calc(100% + 15px);
  display: none;
}

header .links ul::before {
  position: absolute;
  content: "";
  border-width: 10px;
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  top: -19px;
  right: 5px;
}
header .links:hover ul {
  display: block;
}

header .links ul li a {
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .links ul a:hover {
  padding-left: 25px;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End heading */

/* start section */
.landing {
  position: relative;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}

.landing .intro-text p {
  line-height: 1.8;
  font-size: 20px;
  text-align: center;
}
/* end section */

/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.features .continer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.continer .feat {
  text-align: center;
}
.features .continer .feat i {
  color: var(--main-color);
}

.features .continer .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.features .continer .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
/* end features */
/* start  service*/
.service {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.service .service-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.service .service-content .col .srv {
  display: flex;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .service .service-content .col .srv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}

.service .service-content i {
  color: var(--main-color);
  flex-basis: 60px;
}
.service .service-content .text {
  flex: 1;
}
.service .service-content .text h2 {
  margin-top: 0;
}
.service .service-content .text p {
  color: #444;
  font-weight: 300x;
  line-height: 1.6;
}
.service .service-content .photo {
  position: relative;
}
.service .service-content .photo::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 90%;
  background-color: var(--secondry-color);
  z-index: -1;
  left: 50%;
  top: -12.5%;
}
.service .service-content .photo img {
  width: 240px;
}
@media (max-width: 1199px) {
  .service .service-content .photo img {
    display: none;
  }
}
/* end  service*/
/* start Portfolio */
.Portfolio {
  padding: var(--section-padding);
  background-color: var(--section-background);
}

.Portfolio .continer .Portfolio-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  /* margin-bottom: 10px; */
}
.Portfolio-content .card {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.Portfolio-content .card .info {
  padding: 10px;
}
.Portfolio- .card .info p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 0;
}
.Portfolio-content .card .info h3 {
  margin: 0;
}
.Portfolio-content .card img {
  max-width: 100%;
}


/* end Portfolio */
/* start About  */

.About {
  padding: var(--section-padding);
}
.About .About-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .About .About-content {
    flex-direction: column;
    text-align: center;
  }
}
.About .About-content .imge {
  position: relative;
  width: 250px;
  height: 375px;
}

.About .About-content .imge img {
  max-width: 100%;
}
.About .About-content .imge::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 90%;
  width: 50%;
  right: -60%;
  top: -15%;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
}
.About .About-content .imge::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 120%;
  width: 40%;
  left: -20%;
  top: -15%;
  background-color: var(--color-special-heading);
}
@media (max-width: 991px) {
  .About .About-content .imge::after,
  .About .About-content .imge::before {
    display: none;
  }
}
@media (max-width: 991px) {
  .About .About-content .imge {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
.About .About-content .text {
  flex-basis: calc(100% - 500px);
}
.About .About-content .text p:first-child {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 30px;
  font-size: 18px;
}
.About .About-content .text p:last-child {
  color: var(--color-special-heading);
  line-height: 2;
  margin-bottom: 30px;
  font-size: 18px;
}
.About .About-content .text hr {
  width: 80%;
  height: 2px;
  background-color: var(--main-color);
}
/* end about */
/* start contact */
.contact {
  background-color: var(--section-background);
  padding: var(--section-padding);
}
.contact .contact-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.contact .contact-content a {
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .contact-content h1 {
  font-size: 40px;
  font-weight: 800;
  color: var(--secondry-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .contact-content .social {
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width : 767px) {
  .contact .continer .contact-content h1 ,
  .contact .continer .contact-content a{
    font-size: 25px;
}
}
footer{
  background-color: var(--secondry-color);
  padding: 30px 10px;
}
footer .continer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  
}
footer span{
  color: var(--main-color);
}

/* End contact */
